@import "../styles/variables.css";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  scroll-behavior: smooth;
}

/* Smooth text */
body {
  -webkit-font-smoothing: antialiased;
  cursor: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  letter-spacing: -0.02em;
}

/* Section spacing */
section {
  padding: var(--section-padding) 0;
}

::selection {
  background: #111;
  color: #fff;
}

.bg-soft {
  background: linear-gradient(to bottom, #f7f7f5, #f1f1ef);
}
/* Image default */
img {
  max-width: 100%;
  display: block;
}
